<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>6. Diplom_FilmsApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E99F5F82C0B46780080932B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E99F6052C0B46A70080932B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2ECDFA9A2BB15DAC001DA8E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
